/**
 * Default settings for building, testing, and developing disaster.radio apps.
 *
 * This file needs to be copied (from 'settings.js.example') to 'settings.js'
 * and customized where and when needed.
 */

module.exports = {

  /**
   * API version
   */
   version: 0.1,

  /**
   * Node.js webserver port:
   */
  port: 8000,

  /**
   * Node.js webserver hostname:
   */
  hostname: 'localhost',

  /**
   * Flag that determines whether fake messages should be generated.
   *
   * Set this to false if fake message should not be generated.
   */
  isSimulator: true,

}
